[pre on]#include <stdio.h>

int main(int argc, char **argv) {
    const char *name = "[value name]";
    const char *author = "[value author]";

    printf("+ program %s, (c) by %s\n", name, author);
    return 0;
}
