*.a
*.o
*~
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
kkconsui/Makefile.in
kkconsui/include/Makefile.in
kkconsui/src/Makefile.in
kkstrtext/Makefile.in
kksystr/Makefile.in
kksystr/include/Makefile.in
kksystr/src/Makefile.in
misc/Makefile.in
parser/Makefile.in
parser/include/Makefile.in
parser/src/Makefile.in
po/Makefile.in
po/POTFILES
share/Makefile.in
src/Makefile.in
src/configuration/Makefile.in
src/debugger/Makefile.in
src/executor/Makefile.in
src/grepper/Makefile.in
src/manager/Makefile.in
src/motor
src/project/Makefile.in
src/tagbrowser/Makefile.in
src/ui/Makefile.in
src/ui/ncurses/Makefile.in
src/vcs/Makefile.in
stamp-h
stamp-h1
